<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GNU General Public License v3 (GPL 3.0)
 * It is also available through the world-wide-web at this URL:
 * https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * @category BelSmol
 * @package BelSmol_CATAAS
 * @license https://www.gnu.org/licenses/gpl-3.0.en.html GNU General Public License v3 (GPL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Service Contract Area -->
    <preference for="BelSmol\CATAAS\API\Data\DTORequestInterface"
                type="BelSmol\CATAAS\Model\Http\DTORequest"
    />
    <preference for="BelSmol\CATAAS\API\Data\DTOResponseInterface"
                type="BelSmol\CATAAS\Model\Http\DTOResponse"
    />
    <preference for="BelSmol\CATAAS\API\Data\ImageInterface"
                type="BelSmol\CATAAS\Model\Entity\Image"
    />
    <preference for="BelSmol\CATAAS\API\ApiManagerInterface"
                type="BelSmol\CATAAS\Model\ApiManager"
    />
    <preference for="BelSmol\CATAAS\API\EndpointRepositoryInterface"
                type="BelSmol\CATAAS\Model\EndpointRepository"
    />
    <preference for="BelSmol\CATAAS\API\EndpointRepositoryInterface"
                type="BelSmol\CATAAS\Model\EndpointRepository"
    />
    <preference for="BelSmol\CATAAS\API\HttpClientInterface"
                type="BelSmol\CATAAS\Model\Http\HttpClient"
    />
    <preference for="BelSmol\CATAAS\API\DTOResponseMapperInterface"
                type="BelSmol\CATAAS\Model\Http\DTOResponseMapper"
    />
    <preference for="BelSmol\CATAAS\API\ImageManagerInterface"
                type="BelSmol\CATAAS\Model\ImageManager"
    />
    <preference for="BelSmol\CATAAS\API\ImageMapperInterface"
                type="BelSmol\CATAAS\Model\ImageMapper"
    />
    <!-- END: Service Contract Area -->
</config>
